.jumbotron {
    background-image:url(lobster-1515460.jpg);
    background-size:cover;
    background-position:center center;
}
.jumbotron .blackspace {
    background-color:black;
    color:red;
    text-align:center;
}
.feature {
    text-align:center;
}
.feature .glyphicon {
    font-size: 400%;
}
.feature .glyphicon-apple {
    color:red;
}
button
{
-webkit-appearance: none;
outline: none;
border: 0;
background: transparent;
}
#fasthorders {
    text-align:center;
    padding:0 50px;
}
#freshorders {
    text-align:center;
    padding:0 50px;
}